
    html {  
	  display: grid;
    }
	
	body {
	  display: grid;
	  grid-template-columns: 1fr minmax(0, 7in) 1fr;
	  background-color: #1c1e1f;
	  color: #dfdfdf;	
	  word-break: break-word;
	  font-family: "Roboto Mono", monospace;
	  font-size:18px;
      line-height: 1.5em;
	
	}
	
	body * {
	  grid-column: 2/3;
	}
	
	ul.posts {
	padding: 0;	
	font-size: 1.5em;
    }
	
	li {
	  list-style-type: none;
	  }

	li.posts {
	  float: left;
	  decoration: none;
	  list-style-type: none;
    }
	
	ul.bar {
    margin: 0;
    padding: 0;
    }
	
    li.bar {
	  float: right;
	  decoration: none;
	  list-style-type: none;
    }
	
	a {
      color: #56b1c3 ;
	  text-decoration: none;
    }
	
	a:hover {
	  text-decoration: underline;
    }
	
	h1 {
	  font-size:3em;
	  color: #ec276f;
	}
	
	h2 {
		font-size:2em;
	}
	