/* LAYOUT */

body {
  background-color: #303030;
  color: #e6e6e6;
  text-align: justify;
  font-size: 125%;
  line-height: 1.5;
#  max-width: 45rem;
  padding: 1rem;
  margin: auto;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Helvetica Neue", Helvetica, Verdana, Tahoma, sans-serif;
}
.content {
  margin-bottom: 2rem;
}

/* NAVIGATION */

.site-nav {
  display: flex;
  height: auto;
  background-color: #242424;
}

.site-nav a {
	color: #a0a0a0;
  display: block;
  padding: 14px 20px;
  text-align: center;
}

.site-nav a:hover {

  color: #e6e6e6;
}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}
