<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

	<nav>
	<ul class="bar">
		<a href="http://localhost:1313/">/Home/</a>
        <a href="http://localhost:1313/de">/German/</a>
		<a href="http://localhost:1313/else/">/Else/</a>
		
		<li class="bar">
		<a class="btn-toggle">[☀/-]</a>
		</li>
    </ul>
	</nav>
<h1>{{ .Title }}</h1>

{{ .Content }}

{{ range.Data.Pages }}

<article class="post-snippet">

  <ul class="posts">
  <li class="posts">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
	</li>
  <li class="bar">

	</time>
	</li>
	</ul>

</article>
{{ end }}

{{ partial "footer.html" . }}
 </body>


<script>
const btn = document.querySelector(".btn-toggle");

const currentTheme = localStorage.getItem("theme");
if (currentTheme == "dark") {
  document.body.classList.add("dark-theme");
}

btn.addEventListener("click", function () {
  document.body.classList.toggle("dark-theme");

  let theme = "light";
  if (document.body.classList.contains("dark-theme")) {
    theme = "dark";
  }
  localStorage.setItem("theme", theme);
});
</script>
</html>