<!DOCTYPE html> 
<html> 
<body> 
{{ partial "header.html" . }}
<style>

	html {
	height: 100%;
	display: grid;
    justify-content: center;
    align-content: center;
	}
	
	body {
	display: grid;
	font-family: "Courier New", Courier, monospace;
	line-height: 2em;
	}
	
    ul {
    margin: 0;
    padding: 0;
    }

    li {
	
	  float: none;
	  list-style-type: none;
    }
	
</style>

<h1> Ness </h1>
<h2>
	<ul>
		<li>
		<a href="/de/">⤷ 1000 days of German</a>
		</li>
		<li>
        <a href="/else/">⤷ misc.</a>
		</li>
		<li>
        <a href=""></a>
		</li>
    </ul>
</h2>


{{- partial "footer.html" . -}}
</body>
<script>
const btn = document.querySelector(".btn-toggle");

const currentTheme = localStorage.getItem("theme");
if (currentTheme == "dark") {
  document.body.classList.add("dark-theme");
}

btn.addEventListener("click", function () {
  document.body.classList.toggle("dark-theme");

  let theme = "light";
  if (document.body.classList.contains("dark-theme")) {
    theme = "dark";
  }
  localStorage.setItem("theme", theme);
});
</script>
</html> 